async-generator==1.10
backports.functools-lru-cache==1.6.1
brotlipy==0.7.0
certifi==2020.12.5
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
ipython-genutils==0.2.0
joblib==1.0.0
jupyter-kite==2.0.2
jupyterlab-kite==2.0.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
olefile==0.46
opencv-python==4.5.1.48
pandocfilters==1.4.2
pyOpenSSL==19.1.0
pyzmq==20.0.0
scikit-learn==0.24.1
scipy==1.6.0
Send2Trash==1.5.0
sip==4.19.13
testpath==0.4.4
threadpoolctl==2.1.0
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tqdm==4.56.0
webencodings==0.5.1
